img {
    width: 100%;
    border: 1px #ccc solid;
}
.img-desc {
    font-size: 8px;
    color: #999;
}
.title {
    text-align: center;
    font-size: 3em;
}
.pages {
    background: antiquewhite;
    padding: 5px;
    text-align: center;
}
.pages > a {
    display: inline-block;
    width: 30%;
    text-align: center;
    font-size: 4em;
}
.pages > div {
    font-size: 3em;
}