<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/lib/jquery.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<div class="root">
    <div class="card" th:each="idx,iterStat : ${list}">
        <a th:href="@{/{group}/detail(group=${group},title=${idx.title},pageNum=1)}">
        <div class="img">
            <img th:src="@{/{group}/picture(group=${group},path=${idx.cover})}">
        </div>
        <div class="title" th:text="${idx.title}"></div>
        </a>
    </div>
</div>

<div class="pages">
    <div>当前第 <span th:text="${pageNum}"></span> 页, 共 <span th:text="${pageCount}"></span> 页</div>
    <a th:if="${pageNum > 1}" th:href="@{/{group}/page/{pageNum}(group=${group},pageNum=${pageNum - 1},s=${search})}">上一页</a>
    <a th:if="${pageNum < pageCount}" th:href="@{/{group}/page/{pageNum}(group=${group},pageNum=${pageNum + 1},s=${search})}">下一页</a>
</div>
</body>
</html>