<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picture Browser</title>
    <link rel="stylesheet" href="/css/detail.css">
    <script src="/lib/jquery.js"></script>
    <script src="/js/lazy-load-image.js"></script>
</head>
<body>

<div class="root">
    <div class="title" th:text="${title}"></div>
    <div th:each="path,iterStat : ${list}">
        <div class="img-desc" th:text="${path}"></div>
        <img class="lazy-load" src="/res/loading.gif" th:data-src="@{/picture(path=${path})}">
    </div>
    <div class="pages">
        <a href="javascript:history.back()">返回目录</a>
    </div>
</div>

</body>
</html>